* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background: radial-gradient(circle, #049be5, #01579b);
  font-family: 'Teko';
  font-size: 2em;
}
#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  min-width: 320px;
  width: 80vw;
  background-color: linear-gradient(to bottom right, #223ec1, #6fa3eb);
  margin: 50px;
  padding: 8px 6px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 10px;
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
li {
  display: flex;
  font-size: 0.7em;
}
li:hover {
  color: azure;
  scale: 1.02;
  cursor: pointer;
}

.container {
  display: flex;
}
form {
  color: rgb(206, 201, 201);
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 8px;
  margin: 15px;
  height: 32px;
}

input[type='search'] {
  background: transparent;
  padding: 6px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

button[type='submit'] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type='submit']:hover {
  opacity: 1;
}

button[type='submit']:focus,
input[type='search']:focus {
  outline: none;
}

.foot {
  padding-top: 8px;
  opacity: 0.5;
  font-size: 1.5rem;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}
img {
  width: 100px;
  height: 50px;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.3);
}
article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 6px;
  padding: 4px 6px;
  text-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
  line-height: 80%;
  cursor: pointer;
}
article:hover {
  color: white;
}

article:hover img {
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.6);
}
.flag {
  margin: 0 10px;
}
.NameList{
  display: flex;
}
.CountryList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.CountryInfo{
  width: 100%;
  margin: 12px 14px;
  padding: 4px 6px;
}
.CountryWrapp{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.295);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
.close{
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  right: 0px;
}
.close:hover{
  color: white;
  text-decoration: none;
}
p{
  margin: 2px 0;
}
.btn-next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  width: 200px;
  align-self: center;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.loading {
  display: flex;
  justify-content: center;
}
h2 {
  font-size: 0.9em;
  animation: animatetop 1.3s ease-out infinite;
  text-align: center;
  color: rgb(255, 255, 255);
}
@keyframes animatetop {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

h4{
  font-size: 0.7em;
}
.region{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 0.6em;
  margin:4px 0;
}
.lang{
  margin: 3px 0;
  font-size: 1em;
}
.lang-li{
  font-size: 0.8em;

}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  min-width: 320px;
  width: 30vw;
  z-index: 100;
  overflow: hidden;
  font-size: 0.8em;
  border-radius: 14px;
  border: 1px solid black;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
  animation: anim 0.2s ease-in;
}

@keyframes anim {
  from {
    top: -400px;
    opacity: 0;
  }
  to {
    top: 200px;
    opacity: 1;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #01579b;
  padding: 1rem;
  border-right: 1px solid black;
}

.header h3 {
  margin: 0;
  color: black;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}
.header img {
  width: 150px;
  height: 70px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
  margin: 14px 0;
  border: 1px solid black;
}

.content {
  padding: 1rem;
  background: white;
  flex: 1;
}
.content h4 {
  margin: 0;
}
.content p {
  font-size: 0.8em;
  line-height: 80%;
  margin: 0;
}
h3 {
  font-size: 0.6em;
  text-align: center;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 412px) {
  .App {
    font-size: 0.9em;
  }
  .container {
    width: 80vw;
    margin: 0 auto;
  }
}
